* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 120px;
    max-width: 1440px;
}

.header {
    position: absolute;
    width: 100%;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 120px 0;
}
.header__logo,
.footer__logo {
    display: flex;
}
.header__logo-img,
.footer__logo-img {
    padding-right: 15px;
}
.header__logo-text,
.footer__logo-text {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #f7f7f7;
}
.menu__list {
    display: flex;
}
.menu__list-item {
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    text-decoration: none;
    color: #F7F7F7;
}
.menu__list-btn {
    font-family: Roboto, sans-serif;
    width: 120px;
    height: 50px;
    padding: 9px 24px;
    border: 2px solid #cd6326;
    border-radius: 5px;
}
.menu__list-item:hover {
    text-decoration: underline;
}
.menu__list-btn:hover{
    background-color: #cd6326;
    text-decoration: none;
}
.menu__list-btn:active{
    transform: translateY(1px);
    background-color: #8f5613;
    border: 2px solid #8f5613;
}
.menu__list li + li {
    padding-left: 62px;
}
.menu__list img {
    padding-top: 14px;
}
.menu__list img:hover {
    transform: scale(1.2);
    transition: all .3s;
}

.survival {
    min-height: 780px;
    padding-top: 200px;
    background: #02160b url("../images/survival-bg.jpg") no-repeat center;
}
.survival__title {
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #cd6326;
}
.survival__text {
    width: 275px;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #f7f7f7;
}
.survival__btn {
    width: 160px;
    height: 60px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #f7f7f7;
    background-color: #cd6326;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.survival__btn:hover {
    background-color: #e39128;
}
.survival__btn:active {
    transform: translateY(1px);
    background-color: #8f5613;
}

.latest-articles {
    padding: 120px 0;
    background-color: #cccccc;
}
.latest-articles__title {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}
.latest-articles__text {
    margin-bottom: 120px;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}
.latest-articles__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-articles__slider-item {
    position: relative;
}
.latest-articles__slider-item-description {
    position: absolute;
    bottom: 42px;
    width: 100%;
}
.latest-articles__slider-item-title {
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #f7f7f7;
}
.latest-articles__slider-item-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #f7f7f7;
}
.latest-articles__slider-preview,
.latest-articles__slider-next{
    cursor: pointer;
}
.latest-articles__slider-preview:active,
.latest-articles__slider-next:active,
.footer__social-list-item img:active {
    transform: translateY(1px);
}

.get-notified {
    padding: 120px 0 239px;
    background-color: #cccccc;
}
.get-notified__title {
    margin-bottom: 60px;
    font-weight: normal;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}
.get-notified__form {
    display: flex;
    max-width: 660px;
    margin: 0 auto;
}
.get-notified__form-input {
    width: 540px;
    height: 63px;
    padding: 0 15px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
    background-color: #cccccc;
    border: 1px solid #666666;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    outline: none;
}
.get-notified__form-submit {
    width: 120px;
    height: 63px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #f7f7f7;
    background-color: #cd6326;
    border: 1px solid #cd6326;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}
.get-notified__form-submit:hover {
    background-color: #e39128;
    border: 1px solid #e39128;
}
.get-notified__form-submit:active {
    transform: translateY(1px);
    background-color: #8f5613;
    border: 1px solid #8f5613;
}

.footer {
    padding: 150px 0 147px;
    background: #181617 url("../images/footer-bg.jpg") no-repeat center;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.footer__links-list {
    display: flex;
    justify-content: space-between;
    width: 476px;
    margin-left: 15px;
    list-style: none;
}
.footer__links-list-item {
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    text-decoration: none;
    color: #f7f7f7;
}
.footer__links-list-item:hover {
    text-decoration: underline;
}
.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    list-style: none;
}
.footer__social-list img {
    padding-top: 10px;
}
